.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.Header, .MainMenu, .MainContent, .Footer {
  padding: 5px 20px;
}

/* The blue header */
.Header {
  background-color: blue;
  width: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
  text-align: center;
}

/* The mid div for menu and content (left to right) */
.mid {
  width: 100%;
  display: flex;
  flex-direction: row; 
  padding: 0px;
  height: 100%;
}

/* The yellow menu */
.MainMenu {
  background-color: yellow;
  flex-grow: 1;
  flex-shrink: 0;
  height: 800px;
}

.MainMenu li {
  padding: 3px 10px;
}

/* The green contents */
.MainContent {
  background-color: green;
  flex-grow: 3;
  flex-shrink: 10;
}

/* The red footer */
.Footer {
  background-color: red;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

/* Table formating ***************************************/
table, th, td {
  padding: 2px 10px;
}

td, th {
  width: 100%;
  height: fit-content;
} 

/* The black heading of the cards */
td:nth-child(1), th:nth-child(1) {
  background-color: black;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

tr {
  width: 12em;
  height:auto ;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5PX 10PX 15px  rgb(0, 56, 0);
}

/* By Ole Victor */